{% extends "index.html.twig" %}
{% block head %}
    {% if legal == 0 %}
        <a href="/posts"> Все посты </a> <br>
        <a href="/authorization"> Авторизоваться </a> <br>
        <a href="/registration"> Зарегистрироваться </a> <br>
    {% else %}
        <a href="/create">Перейти к созданию поста</a> <br>
        <a href="/user/{{ id }}/posts">Посмотреть список моих постов</a> <br>
        <a href="/user/{{ id }}">Перейти на мою страничку</a><br>
    {% endif %}
{% endblock %}
{% block main %}
    title : {{ postTitle }} <br>
    text : {{ postText }} <br>
    {% if legal == 1  %}
        <form action="/delete.php" method="post">
            <input type="submit" name="{{ id }}" value="DELETE">
        </form>
    {% endif %}
{% endblock %}