{% extends "index.html.twig" %}
{% block main %}
    {% if pageCount > page %}
        <h2>Все посты</h2> <br>
        <hr>
        <a href="/post/{{ id1 }}"> Пост {{ id1 }} </a>: <br>
        {{ postTitle1 }} <br>
        Написал: {{ username1 }}
        <hr>

        <a href="/post/{{ id2 }}"> Пост {{ id2 }} </a>: <br>
        {{ postTitle2 }} <br>
        Написал: {{ username2 }}
        <hr>

        <a href="/post/{{ id3 }}"> Пост {{ id3 }} </a>: <br>
        {{ postTitle3 }} <br>
        Написал: {{ username3 }}
        <hr>
        {% if page == 1 %}
            <a href="/posts/{{ next }}">Перейти на следующую страницу</a>
        {% else %}
            <a href="/posts/{{ next }}">Перейти на следующую страницу</a> <br>
            <a href="/posts/{{ previous }}">Перейти на предыдущую страницу</a>
        {% endif %}
    {% elseif page == pageCount %}
        {% if postsToLeave == 1 %}
            <h2>Все посты</h2> <br>
            <hr>
            <a href="/post/{{ id1 }}"> Пост {{ id1 }} </a>: <br>
            {{ postTitle1 }} <br>
            Написал: {{ username1 }}
            <hr>
            {% if page == 1 %}
                *это единственная страница
            {% else %}
                <a href="/posts/{{ previous }}">Перейти на предыдущую страницу</a>
            {% endif %}
        {% elseif postsToLeave == 2 %}
            <h2>Все посты</h2> <br>
            <hr>
            <a href="/post/{{ id1 }}"> Пост {{ id1 }} </a>: <br>
            {{ postTitle1 }} <br>
            Написал: {{ username1 }}
            <hr>

            <a href="/post/{{ id2 }}"> Пост {{ id2 }} </a>: <br>
            {{ postTitle2 }} <br>
            Написал: {{ username2 }}
            <hr>
            {% if page == 1 %}
                *это единственная страница
            {% else %}
                <a href="/posts/{{ previous }}">Перейти на предыдущую страницу</a>
            {% endif %}
        {% elseif postsToLeave == 3 %}
            <h1>Все посты</h1> <br>
            <hr>
            <a href="/post/{{ id1 }}"> Пост {{ id1 }} </a>: <br>
            {{ postTitle1 }} <br>
            Написал: {{ username1 }}
            <hr>

            <a href="/post/{{ id2 }}"> Пост {{ id2 }} </a>: <br>
            {{ postTitle2 }} <br>
            Написал: {{ username2 }}
            <hr>

            <a href="/post/{{ id3 }}"> Пост {{ id3 }} </a>: <br>
            {{ postTitle3 }} <br>
            Написал: {{ username3 }}
            <hr>
            {% if page == 1 %}
                *это единственная страница
            {% else %}
                <a href="/posts/{{ previous }}">Перейти на предыдущую страницу</a>
            {% endif %}
            {% endif %}
    {% elseif page > pageCount %}
        <h1 style="color: crimson;">Такой страницы нет</h1>
    {% endif %}

{% endblock %}