{% extends "index.html.twig" %}
{% block head %}
    {% if legal == 0 %}
        <a href="/posts"> Все посты </a> <br>
        <a href="/authorization"> Авторизоваться </a> <br>
        <a href="/registration"> Зарегистрироваться </a> <br>
    {% else %}
        <a href="/posts"> Все посты </a> <br>
        <a href="/create">Перейти к созданию поста</a> <br>
        <a href="/user/{{ id }}/posts">Посмотреть список моих постов</a> <br>
        <a href="/user/{{ id }}">Перейти на мою страничку</a><br>
    {% endif %}
{% endblock %}
{% block main %}
    {% if isPostExist == true %}
        title : {{ postTitle }} <br>
        text : {{ postText }} <br>
        {% if legalToDelete == true %}
            Это ваш пост <br>
            <form action="/delete.php" method="post">
                <input type="submit" name="{{ postId }}" value="DELETE">
            </form>
        {% else %}
            Этот пост принадлежит пользователю {{ username }}. Вы не можете его удалить.
        {% endif %}
    {% else %}
        Извините, но такого поста не существует
    {% endif %}
{% endblock %}