{% extends "index.html.twig" %}
{% block main %}
    {% if exist == 1 %}
        {% if legal == 1 %}
            <h1>Моя страничка</h1>
            <h4>
                Ваше имя - {{ user.name }}, и Вы зарегистрированы в блоге Пашки-Черепашки, с чем я вас и поздравляю. <br>
                Если у меня появятся вопросы к вам, я буду писать вам на эту почту {{ user.email }} <br>
                Количество постов, написанных вами - {{ postCount }}, но никогда не поздно написать ещё !!! <br>
            </h4>
        {% else %}
            <h1>Страница {{ user.name }}</h1>
            <h4>
                Моё имя - {{ user.name }}, и я зарегистрирован в блоге Пашки-Черепашки. Ни разу об этом не пожалел !!! <br>
                По всем вопросам пишите мне сюда - {{ user.email }} <br>
                Количество постов, написаных тут - {{ postCount }}, но я не остановлюсь на этом. <br>
            <a href="/user/{{ user.id }}/posts">Мои посты</a>
            </h4>
        {% endif %}
    {% else %}
        <div class="alert alert-danger" role="alert" align="center">
            Извините, такого пользователя не существует.
        </div>
    {% endif %}
{% endblock %}