{% extends "index.html.twig" %}
{% block main %}
    {% if exist == 1 %}
        {% if legal == 1 %}
            <h1>Моя страничка</h1>
            <h4>
                Ваше имя - {{ user.name }};<br>
                Ваш email - {{ user.email }} <br>
                Количество постов, написанных вами - {{ postCount }}
            </h4>
            <div class="alert alert-secondary" role="alert">
                *никогда не поздно написать ещё !!!
            </div>
        {% else %}
            <h1>Страница {{ user.name }}</h1>
            <h4>
                Моё имя - {{ user.name }}<br>
                Мой email - {{ user.email }} <br>
                Количество постов, написаных мною - {{ postCount }}<br>
            <a href="/user/{{ user.id }}/posts">Мои посты</a>
            </h4>
        {% endif %}
    {% else %}
        <div class="alert alert-danger" role="alert" align="center">
            Извините, такого пользователя не существует.
        </div>
    {% endif %}
{% endblock %}